{% extends 'base/base.html' %}

{% block page_content %}
     <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Listado de Sub Categorias</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Acciones </div>
                      <a class="dropdown-item" href="{% url 'inv:subcategoria_new' %}"><i class="far fa-calendar-plus"></i>Nueva</a>

                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    {% if not obj %}
                        <div class="alert alert-info">No hay Sub Categorias</div>
                        {% else %}
                    <table class ="table table-striped table-hover">
                        <thead>
                            <th>Descripcion</th>
                            <th>Id</th>
                            <th>Descripcion</th>
                            <th>Estado</th>
                            <th>F. Creado</th>
                            <th>F. Modificado</th>
                            <th class="all">Acciones</th>
                        </thead>
                        <tbody>
                            {% for item in obj %}
                                <tr>
                                    <th>{{ item.categoria }}</th>
                                    <th>{{ item.id }}</th>
                                    <th>{{ item.description }}</th>
                                    <th>{{ item.estado|yesno:"Activo,Inactivo" }}</th>
                                    <th>{{ item.fc|date:"d/m/Y H:i:s"}}</th>
                                    <th>{{ item.fm|date:"d/m/Y H:i:s"}}</th>
                                    <td>
                                        <a href="{% url 'inv:subcategoria_edit' item.id %}" class="btn btn-warning btn-circle" role="button"></a><i class="far fa-edit"></i></a>
                                       <!--  <a href="" class="btn btn-warning btn-circle" role="button"></a><i class="far fa-edit"></i></a> -->
                                       <a href="{% url 'inv:categoria_del' item.id %}" class="btn btn-danger btn-circle" role="button"></a><i class="far fa-trash-alt"></i></a>
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                     {% endif %}
                </div>
              </div>
{% endblock %}
{% block js_page %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
{% endblock %}