{% extends 'base/base.html' %}

{% block page_content %}
    <form method = "POST" class = "form-inline">
    {% csrf_token %}
     <div class="col-xl-12 col-md-12 mb-12">
         {% if obj %}
         <div class="card border-left-warning shadow h-100 py-2">
             {% else %}
              <div class="card border-left-succes shadow h-100 py-2">
                {% endif %}
                  <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                         {% if obj %} Edit {% else %} Nueva {% endif %} Sub Categoria
                      </div>
                        <div class = "dropdown-divider"></div>
                        <div class = "row">
                            <div class= "col-5">
                                    <div class="input-group">
                                   <!--     <input type="text" name="descripcion" maxlength="100" class="form-control" required id = "id_descripcion" placeholder="Descripcion"
                                               value="{% if obj %} {{ obj.descripcion }} {% endif %}"> -->
                                            {{ form.categoria }}
                                    </div>
                                </div>
                            <div class= "col-5">
                                    <div class="input-group">
                                   <!--     <input type="text" name="descripcion" maxlength="100" class="form-control" required id = "id_descripcion" placeholder="Descripcion"
                                               value="{% if obj %} {{ obj.descripcion }} {% endif %}"> -->
                                    {{ form.descripcion }}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class = "input-group">
                                     <!--   <label for = "id_estado">Estado</label>
                                        <input type="checkbox" name="estado" class="form-control" id = "id_estado"
                                         {% if obj.estado %}  checked {% endif %}> -->
                                        {{ form.estado }}
                                    </div>
                                </div>
                          <!--  -->

                        </div>
                        <!--         --------                 -->
                        <div class="dropdown-divider"></div>
                        <div class = "row">
                            <div class = "col">
                                <button type="submit" class="btn btn-danger"><span class = "fa fa-save"></span>Guardar</button>
                                <a href="{% url 'inv:subcategoria_list' %}" class="btn btn-success"><span class = "fa fa-undo"></span>Cancelar</a>
                            </div>
                        </div>


                    </div>

                  </div>
                </div>
              </div>
     </div>
    </form>
{% endblock %}
{% block js_page %}
{% endblock %}